# Node / Mobile
node_modules/
.expo/
dist/
web-build/
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Logs
*.log

# Environment variables
.env
.env.local
.env.*.local

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
*.sqlite3

# Large Presentation Binaries
*.pptx
